/* =========================
   BLOG LAYOUT
========================= */

.blog-layout {
  display: grid;
  grid-template-columns: 2.2fr 1fr;
  gap: 80px;
  max-width: 1200px;
  margin: 60px auto 40px;
  padding: 0 40px 0;
}

.blog-detail-page{
  padding-top:40px;
}

/* MAIN */

.blog-main-image {
  width: 100%;
  height: 420px;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 40px;
}

.blog-main h1 {
  font-family: "Playfair Display", serif;
  font-size: 38px;
  font-weight: 500;
  margin-bottom: 18px;
  line-height: 1.2;
}

.blog-meta {
  font-size: 13px;
  color: rgba(255,255,255,0.6);
  margin-bottom: 40px;
  display: flex;
  gap: 10px;
}

.blog-body {
  font-size: 13px;
  line-height: 1.85;
  color: rgba(255,255,255,0.78);
  max-width: 720px;
  margin-top: 22px;
}

.blog-body p {
  margin-bottom: 24px;
}

/* SIDEBAR */

.sidebar-post {
  display: flex;
  gap: 14px;
  margin-bottom: 22px;
  padding-bottom: 18px;
  border-bottom: 1px solid rgba(255,255,255,0.06);
  cursor: pointer;
  transition: all 0.25s ease;
  position: sticky;
  text-decoration: none;
}

.sidebar-post:last-child {
  border-bottom: none;
}

.sidebar-post img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
}

.sidebar-card h3 {
  font-family: "Playfair Display", serif;
  font-size: 20px;
  margin-bottom: 28px;
  letter-spacing: 0.5px;
  font-weight: 500;
}

.sidebar-post p {
  font-size: 14px;
  line-height: 1.4;
  margin: 6px 0 0;
  color: rgba(255,255,255,0.75);
}

.sidebar-post:hover p {
  color: #fff;
}

.sidebar-tag {
  font-size: 10px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: rgba(255,255,255,0.45);
}

/* =========================
   BLOG DETAIL HEADER
========================= */

.blog-detail-header {
  padding: 120px 80px 40px;
}

.blog-title-wrap h1 {
  font-family: "Playfair Display", serif;
  font-size: 52px;
  font-weight: 500;
  margin-bottom: 20px;
}

/* =========================
   BLOG META ROW
========================= */

.blog-meta-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}

.blog-meta-left {
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: Inter, sans-serif;
  font-size: 14px;
  color: rgba(255,255,255,0.7);
}

.blog-author {
  display: flex;
  align-items: center;
  gap: 12px;
  margin: 20px 0;
}

.blog-author img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}

.blog-author p {
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  font-weight: 500;
  color: rgba(255,255,255,0.45);
}

.blog-meta-left .dot {
  opacity: 0.6;
}

/* BACK BUTTON */

.back-to-blogs {
  display: inline-block;
  font-size: 13px;
  color: rgba(255,255,255,0.55);
  margin-bottom: 24px;
  text-decoration: none;
  letter-spacing: 0.5px;
  transition: all 0.25s ease;
}

.back-to-blogs:hover {
  color: #fff;
  transform: translateX(-4px);
}